.icon {
    background-position: center;
    background-repeat: no-repeat;
}

.icon-play { background-image: url("/dagens/res/play.svg"); }
.icon-pause { background-image: url("/dagens/res/pause.svg"); }